= simple_form_for @tshirt do |f|
  %fieldset
    %legend Create a Tee
    = f.input :title, label: "Tee Title"
    = f.input :description, label: "Tee Description", input_html: { rows: 4 }
    .control-group
      = f.label :artwork, "Artwork File"
      .controls
        = f.file_field :artwork, style: 'display: none'
        .input-append
          %input#artwork-file.input-large{type: "text", value: "#{@tshirt.art_file_name}"}
          %a.btn{onclick: "$('#tshirt_artwork').click();"} Browse
        = f.hidden_field :artwork_cache
        :javascript
          $('#tshirt_artwork').change(function() {
            $('#artwork-file').val($(this).val().replace(/C:\\fakepath\\/,''));
          });
    .form-actions
      = f.submit "Create My Tee", class: "btn btn-primary"
