%h2 Users
.row
  .span12
    %table.table
      %thead
        %tr
          %th Name 
          %th Email
          %th Registered
          %th Role
          %th{style: "width: 100%"}
      %tbody
        - @users.each do |user|
          %tr
            %td{style: "white-space: nowrap; min-width: 180px"}
              = link_to user.name, user
            %td{style: "white-space: nowrap; min-width: 180px"}
              = user.email
            %td{style: "white-space: nowrap; min-width: 90px"}
              = user.created_at.to_date
            %td{style: "white-space: nowrap; min-width: 90px"}
              = user.roles.first.name.titleize unless user.roles.first.nil?
            %td
              %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change Role
              = render user
              = link_to("Delete User", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user
