%h2
  Tshirts
%table.table
  %tr
    %th
      Created
    %th
      State
    %th
      User
    %th
      Title
    %th{style: "width: 100%"}
      Transfer (PDF)
  - Tshirt.all.each do |tshirt|
    %tr
      %td{style: "white-space: nowrap"}
        = "#{tshirt.created_at.to_s(:long)} (#{time_ago_in_words tshirt.created_at} ago)"
      %td
        = tshirt.state.upcase
      %td
        = tshirt.user.email
      %td
        = link_to tshirt.title, tshirt_preview_path(tshirt)
      %td
        = link_to raw("11&times;17"), tshirt.artwork.transfer_11x17.url
